*{
	font-family: montserrat;
}

#Services_offer{
	margin-top: 30px;
	background-color: #C7D7C4;
}



.services_coloum{

	padding: 5px;
}

}
 .my_content{
 	margin-top: 50px;
 }


 /*gallary content*/


 


 }

.color{
	text-decoration-color: red;
}
button{
	
	margin-top: 30px;
}

footer{
	background-color: black;

;
	color: white;
}

.img-container{
	text-align: center;
	margin-top: 50px;
	

}

.footer_link{
	color: #ffffff;
}
.footer_link:hover{
	color: #ffffff;
}

ul{
	list-style: none;

}



}
#img_pro{
	background-color: #FAD3FF;
}


}
#top_mar{
	margin-top: 100px;
}